@using Microsoft.AspNetCore.Identity
@using ProyectoSGShoots6.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<style>
    .navOpcion{
    
    }
</style>
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a style="color: white;" id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><b><span style="color: white"> @UserManager.GetUserName(User)</span></b></a>
    </li>
    <li class="nav-item">
        <a style="margin-left:1rem; margin-right: 1rem" class="nav-link btn btn-outline-light navOpcion" asp-area="" asp-controller="Home" asp-action="Index"><span style="color: white">PORTFOLIO</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register"></a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  id="logout" type="submit" class="navOpcion nav-link btn btn-link text-dark btn btn-outline-light"><span style="color: white">Cerrar Sesión </span></button>
        </form>
    </li>
}
else
{
    @*AQUI ES EL DE REGISTRAR*@
    
    <li class="nav-item">
        <a style="margin-left:1rem; margin-right: 1rem" class="nav-link btn btn-outline-light navOpcion" asp-area="" asp-controller="Home" asp-action="Index"><span style="color: white">PORTFOLIO</span></a>
    </li>
    <li class="nav-item">
        <a style="margin-right:1rem" class="nav-link btn btn-outline-light navOpcion" id="login" asp-area="Identity" asp-page="/Account/Login"><span style="color: white">INICIAR SESIÓN</span></a>
    </li>
}
</ul>
