@model ProyectoSGShoots6.Models.DetalleProductoPersonalizado

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DetalleProductoPersonalizado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CotizacionesId" class="control-label"></label>
                <select asp-for="CotizacionesId" class ="form-control" asp-items="ViewBag.CotizacionesId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductosId" class="control-label"></label>
                <select asp-for="ProductosId" class ="form-control" asp-items="ViewBag.ProductosId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UnidadMedidaId" class="control-label"></label>
                <select asp-for="UnidadMedidaId" class ="form-control" asp-items="ViewBag.UnidadMedidaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
